<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Colegio Jorgina</title>
    <link rel="stylesheet" href="/css/LoginStyle.css">
</head>
<body>


    <form method="post" action="/login">
        <h1>Login</h1>
        <label for="matricula">Matrícula:</label>
        <input type="text" id="matricula" name="matricula" required><br>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required><br>

        <input type="submit" value="Entrar">
    </form>

    <p th:text="${error}"></p>
</body>
</html>